packages:
  yum:
    postgresql93-devel: []

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANO_SETTINGS_MODULE: "base.settings"
  aws:elasticbeanstalk:container:python:
    WSGIPath: base/wsgi.py
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "www/static/"

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"