{% extends 'main/base.html' %}

{% block content %}
        <!-- Header -->
        <header id="about-header" class="jumbotron custom-header">
            <div class="container-fluid">
                <h1 class="display-3" id="about-title">About Us</h1>
            </div>
        </header>

        <!-- Subheadings-->
        <div class="container text-center">
            <h2 class="display-4" id="subheading">Our Mission</h2>
            <p>We want to increase the quality of online education and increase the accessibility of the knowledge 
                and skills needed to build the future. We believe that everyone, regardless of background, should have 
                a chance to learn the skills needed to thrive on the world stage.</p>
        </div>

        <div class="container text-center">
            <h2 class="display-4" id="subheading">Our Story</h2>
            <p>We were founded with the goal of making the online learning experience into a personalized experience that 
                recognizes that every learner is unique. Instead of rooms full of dozens or even hundreds of other students,
                we created an environment completely focused on you and helping you reach your goals. Our artificial 
                intelligence will connect you with the resources you need to succeed.</p>
        </div>

        <div class="container text-center about-bottom">
            <h2 class="display-4" id="subheading">Chiron?</h2>
            <p>Chiron was a centaur and central figure in Greek mythology. Known not for his strength or courage, but instead for his 
               knowledge and wisdom, he was responsible for training many of the more well known heroes such as Achilles, Heracles 
               (known in Roman mythology as Hercules), Jason, Perseus, and Theseus. Just like Chiron trained many of the heroes of the 
               ancient Greek world, we hope to help train a generation of heroes for the modern world, with the knowledge needed to 
               change the world for the better.   
            </p>
        </div>
{% endblock %}

