{% extends 'main/base.html' %}

{% block content %}
        <!-- Header -->
        <header id="contact-header" class="jumbotron custom-header">
            <div class="container-fluid">
                <h1 class="display-3" id="about-title">Contact Us</h1>
            </div>
        </header>

        <!-- Messages (if applicable) -->
        {% if messages %}
            {% for message in messages %}
            <div class="text-center alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}

        <!-- Contact Form -->
        <div class="container-fluid footer-spacing">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form action="{% url 'pages:contact-submit' %}" method="post" class="text-center">
                    {% csrf_token %}
                        <fieldset>
                            <legend>Please fill out the form below</legend>
                            
                            <p>
                                Give us feedback, ideas for future updates, or get in touch with us for any other reason
                            </p>

                            <div class="text-left">
                                <div class="form-group">
                                    <h2>{{ contactform.name.label }}</h2>
                                    {{ contactform.name }}
                                </div>

                                <div class="form-group">
                                    <h2>{{ contactform.contact_email.label }}</h2>
                                    {{ contactform.contact_email }}
                                </div>

                                <div class="form-group">
                                    <h2>{{ contactform.subject.label }}</h2>
                                    {{ contactform.subject }}
                                </div>

                                <div class="form-group">
                                    <h2>{{ contactform.message.label }}</h2>
                                    {{ contactform.message }}
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
