{% extends 'main/base.html' %}

{% block content %}

        <!-- Header -->
        <header class="jumbotron custom-header">
            <div class="container-fluid">
                <h1 class="display-3">Password Reset</h1>
            </div>
        </header>

        <!-- Confirmation Message -->
        <div id="password-reset-success-message" class="container-fluid text-center">
            <h2>If an account was associated with the email you entered, a message has been sent with instructions on how to reset your password</h2>
            <h2>If you didn't receive an email, make sure you entered the email you registered with and that you typed it correctly. You also may need to check your spam folder.</h2>
        </div>

{% endblock %}