{% extends 'main/base.html' %}

{% block content %}

        <!-- Header -->
        <header class="jumbotron custom-header">
            <div class="container-fluid">
                <h1 class="display-3">Password Reset Complete</h1>
            </div>
        </header>

        <!-- Confirmation Message -->
        <div class="container-fluid text-center confirm-message">
            <h2>Your password was successfully reset</h2>
            <a href="{% url 'main:login' %}" class="btn btn-primary">Login</a>
        </div>

{% endblock %}